sphinx-design
empack
sphinxcontrib-bibtex
sphinxcontrib-youtube
sphinx-press-theme
sphinx-tabs
jupyterlite-xeus
sphinxcontrib-youtube
git+https://github.com/smdogroup/sphinxcontrib-geogebra.git
# jupyterlite-sphinx
git+https://github.com/aaronyicongfu/jupyterlite-sphinx.git@main#egg=jupyterlite-sphinx
sphinxcontrib.quizdown
sphinx_exercise
sphinx_togglebutton
